<!-- this is my nav.ejs partial! -->

<div class="navbar">

   <%  var sections = sections || ['home'] %>

   <% sections.forEach(function(sec){ %>

       <div><a href="/<%= sec %>"><%= sec %></div>

   <% }); %>

</div>